*{
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Segoe UI', 'Roboto', 'Oxygen';
}

main {
	display: flex;
	flex-direction: column;
}

header {
	background-image: url('assets/pattern-bg.png');
	background-size: cover;
	height: 40vh;
	z-index: 999;
	text-align: center;
}

h1 {
	color: white;
}

.leaflet-container {
	height: 60vh;
}

.leaflet-marker-icon {
	content: url('assets/icon-location.svg');
}

.input-wrapper {
	display: flex;
	background-color: white;
	margin: auto;
	width: 35%;
	margin-top: 20px;
}

.input-wrapper, #search-btn {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.input-wrapper input {
	border: 0;
	width: 100%;
	font-weight: bold; 
	border: none;
	font-size: medium;
	padding: 20px;
}

.input-wrapper input::placeholder {
	font-weight: normal; 
}

#search-btn {
	background-color: black;
	background-image: url('assets/icon-arrow.svg');
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	padding: 20px;
	width: 10%;
}

.info {
	background-color: white;
	display: flex;
	margin: auto;
	margin-top: 50px;
	padding: 20px 20px 20px 20px;
	border-radius: 25px;
	width: 50%;
}

.info div {
	width: 100%;
	border-right: 1px solid black;
}

.info div:not(:first-child) {
	margin-left: 20px;
}

.info div:last-child {
	border-right: none;
}

span {
	font-size: small;
	color: gray;
}

.info div p {
	font-weight: bold;
	font-size: x-large;
}

@media (max-width: 375px) {
	
	h1 {
		margin-top: 10px;
		font-size: x-large;
	}

	.input-wrapper {
		width: 90%;
	}
	

	.info {
		display: inline-block;
	}

	.info div {
		border-right: none;
	}

	.info div:not(:first-child) {
		margin-top: 10px;
		margin-left: 0px;
	}

	span {
		font-size: smaller;
		color: gray;
	}

	.info div p {
		font-weight: bold;
		font-size: large;
	}
}